NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="NationalParks" type="NationalParksType"/>

	<xsd:complexType name="NationalParksType">
		<xsd:sequence>
			<xsd:element name="NationalPark" type="NationalParkType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NationalParkType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="Rating" type="RatingType" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="State" type="StateType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Zip" type="ZipType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:simpleType name="PhoneType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}-\d{3}-\d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="StateType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ZipType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{5}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="RatingType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-5](\.[0-9])?"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
